---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Site</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<h1>Hello World From Astro Universe</h1>
        <h2>This is beautiful</h2>
        <p>Let's explore this world further and see all we can see....</p>
    </body>
</html>
