---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Yaps";
---


<BaseLayout pageTitle={pageTitle}>
    <h2>A lil section to express the the awe of the Astro universe</h2>
    
    <ul>
        <li><a href="/posts/post-1/">Yap 1</a></li>
        <li><a href="/posts/post-2/">Yap 2</a></li>
        <li><a href="/posts/post-3/">Yap 3</a></li>
    </ul>
</BaseLayout>

