<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Site</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>Hi let's Yap</h1>
        <h2>A lil section to express the the awe of the Astro universe</h2>
        <p>Really enjoying the beauty of these horizons....</p>
    </body>
</html>
